@model L4_DAVH_AFPE.Models.TaskModel

@{
    ViewData["Title"] = "Details";
}

<h2>Current Task:</h2>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Title:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class="col-sm-2">
            Description:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2">
            Priority Level:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.priority)
        </dd>
        <dt class="col-sm-2">
            Project:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.project)
        </dd>
        <dt class="col-sm-2">
            Project Delivery Date:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
    </dl>
    <form asp-action="Delete">
        @Html.HiddenFor(model => model.title)
        <input type="submit" value="Done" class="btn btn-success" /> |
        <a class="btn btn-info"  asp-action="Index">Back to list</a>
    </form>
</div>
<p class="text-warning">*If you mark as done this task, it will be deleted.*</p>

