@model IEnumerable<L4_DAVH_AFPE.Models.Data.HeapNode<string>>

@{
    ViewData["Title"] = "Index";
}
@using L4_DAVH_AFPE.Models.Data;
@using L4_DAVH_AFPE.Models;
<h1>All Tasks</h1>

<p>
    Welcome, @Html.DisplayFor(modelItem => Singleton.Instance.txt) @Html.DisplayFor(modelItem => Singleton.Instance.user)
</p>


<table  class="table table-dark bg-dark table-hover col-12" ng-show="@Singleton.Instance.PriorityTask.Length() > 0">
    <thead>
        <tr>
            <th>
                Task in charge:
            </th>
            <th>
                Title:
            </th>
            <th>
                Description:
            </th>
            <th>
                Priority Level:
            </th>
            <th>
                Project:
            </th>
            <th>
                Project Delivery Date:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @*insertar encargado de tarea*@
                @Html.DisplayFor(modelItem => Singleton.Instance.Tasks.Get(new TaskModel(item.value), Singleton.Instance.keyGen(item.value)).inCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Singleton.Instance.Tasks.Get(new TaskModel(item.value), Singleton.Instance.keyGen(item.value)).description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Singleton.Instance.Tasks.Get(new TaskModel(item.value), Singleton.Instance.keyGen(item.value)).project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Singleton.Instance.Tasks.Get(new TaskModel(item.value), Singleton.Instance.keyGen(item.value)).date)
            </td>
        </tr>
        }
    </tbody>
</table>
